.link-bar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 20%;
    margin: auto;
}

.logo {
    text-align: center;
    margin: auto;
    margin-top: 10px;
}

@media only screen and (max-width: 770px) {
    .link-bar {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: auto;
    }
}